<template>
  <div class="container">
    <div class="header">
      <div class="title">{{ title }}</div>
      <div class="time">{{ time }}</div>
    </div>
    <div class="body">
      <div class="options">
        <Button
          v-for="({ label, id }, i) in options"
          :key="id"
          :backgroundColor="colors[i]"
          :disabled="disabled"
          :label="label"
          :loading="loading"
          class="button"
          fontColor="white"
          @click="onClickOption(id)"
        ></Button>
      </div>
      <PollSinglePieChart
        :sectionColors="colors"
        :votes="votes"
        circleColor="#b3cee4"
        class="pie-chart"
        fontColor="white"
      ></PollSinglePieChart>
    </div>
    <div class="footer">
      <div class="votes-summary">{{ voteSummary }}</div>
    </div>
  </div>
</template>

<script>
import { getPollDetail, sendPoll } from "../api/poll";
import { computed, onMounted, ref, watchEffect } from "vue";
import PollSinglePieChart from "../components/PollSinglePieChart";
import { useRoute } from "vue-router";
import { transformTimeToDateTime } from "../utils/date";
import Button from "../components/Button";

const colors = [
  "#e57434",
  "#143a6c",
  "#859baf",
  "#7f4f35",
  "#d0af8c",
  "#acbcc7",
  "#58a7cf",
];

export default {
  name: "PollDetail",
  // eslint-disable-next-line vue/no-unused-components
  components: { PollSinglePieChart, Button },
  setup() {
    const route = useRoute();
    const pollID = route.params.id;

    const options = ref([]);
    const votes = ref([]);
    const title = ref("");
    const time = ref("");
    const loading = ref(false);
    const disabled = ref(false);

    const voteSummary = computed(() => {
      const sum = votes.value.reduce((sum, vote) => (sum += vote), 0);
      return `Total number of votes recorded: ${sum}`;
    });

    watchEffect(() => {
      console.log("votes updated", votes);
    });

    onMounted(() => {
      getPollDetail(pollID)
        .then(({ data }) => {
          console.log("update data", data);
          const { publishedDate, answer } = data;
          votes.value.push(...answer.votes);
          options.value.push(...answer.options);
          title.value = data.title;
          time.value = `PUBLISHED: ${transformTimeToDateTime(publishedDate)}`;
        })
        .catch((err) => {
          console.log(err);
        });
    });

    const onClickOption = (optionID) => {
      loading.value = true;
      sendPoll(pollID, optionID)
        .then((res) => {
          console.log(res);
        })
        .catch((err) => {
          console.log(err);
        })
        .finally(() => {
          const optionIndex = options.value.findIndex(
            (option) => option.id === optionID
          );
          votes.value[optionIndex]++;

          disabled.value = true;
          loading.value = false;
        });
    };

    return {
      votes,
      options,
      title,
      time,
      voteSummary,
      loading,
      disabled,
      colors,
      onClickOption,
    };
  },
};
</script>

<style scoped>
.container {
  display: flex;
  flex-direction: column;
  background-color: #b3cee4;
  align-items: center;
}

.header {
  background-color: #b3cee4;
}

.title {
  padding: 0.5rem;
  font-size: 1.5rem;
  text-align: left;
  font-family: Merriweather, Merriweather fallback, serif;
  font-weight: bold;
}

.time {
  display: none;
}

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.options {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.2rem;
  text-align: center;
  width: fit-content;
  align-items: stretch;
}

.button {
  width: 100%;
  padding: 0.2rem;
  padding: 0.3rem;
}

.pie-chart {
  margin: 0 auto;
}

.footer {
  width: 100%;
  padding: 1rem;
}

@media screen and (min-width: 640px) {
  .header {
    background-color: white;
  }

  .title {
    font-size: 2rem;
    border-bottom: 1px solid #e3e3e3;
  }

  .time {
    color: #8f8e96;
    display: block;
    text-align: right;
    margin: 0.5rem auto;
  }

  .body {
    flex-direction: row;
    justify-content: space-between;
  }

  .options {
    max-height: 6rem;
  }

  .pie-chart {
    margin: 2rem 2rem 1rem auto;
  }

  .footer {
    text-align: left;
  }
}
</style>
