<template>
  <PollOfToday :poll="pollOfToday" @update="updatePollOfToday"></PollOfToday>
  <div class="poll-list">
    <div class="poll-list__middle-line"></div>
    <div
      v-for="(poll, i) in pollsInListMode"
      :key="i"
      class="poll-item"
      @click="goPollDetail(poll.id)"
    >
      <PollIcon class="poll-item__icon"></PollIcon>
      <div class="poll-item__content">
        <div class="poll-item__date">
          {{ transformTimeToDate(poll["publishedDate"]) }}
        </div>
        <div class="poll-item__title">{{ poll["title"] }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import { computed, defineComponent, onMounted, reactive } from "vue";
import { getPollList } from "../api/poll";
import router from "../router";
import PollIcon from "../components/PieIcon";
import PollOfToday from "../components/PollOfToday";
import { transformTimeToDate } from "../utils/date";

export default defineComponent({
  name: "PollList",
  components: { PollIcon, PollOfToday },
  setup() {
    const polls = reactive([]);
    const pollOfToday = computed(() => polls[0]);
    const pollsInListMode = computed(() => polls.slice(1));

    onMounted(() => {
      getPollList().then(({ data }) => {
        // TODO: if length < 2 send error
        polls.push(...data.polls);
      });
    });

    const goPollDetail = (id) => {
      router.push({ path: `/poll/${id}` });
    };

    const updatePollOfToday = (newPoll) => {
      polls[0] = newPoll;
    };

    return {
      polls,
      pollOfToday,
      pollsInListMode,
      transformTimeToDate,
      goPollDetail,
      updatePollOfToday,
    };
  },
});
</script>

<style scoped>
.poll-list {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  align-items: stretch;
  align-content: space-between;
  margin-top: 1rem;
}

.poll-item {
  display: flex;
  text-align: left;
  padding: 0 0.5rem;
  cursor: pointer;
  margin: 0.5rem 0;
}

.poll-item__content {
  margin-left: 1rem;
}

.poll-item__date {
  font-weight: bold;
  font-size: 0.5rem;
  color: #416f91;
}

.poll-item__title {
  line-height: 1.2rem;
  max-height: 2.4rem;

  word-wrap: break-word;

  overflow: hidden;
  font-family: "Times New Roman";
}

.poll-item__icon:deep(.chart) {
  width: 60px;
}

.poll-list__middle-line {
  display: none;
}

@media screen and (min-width: 640px) {
  .poll-item {
    flex-basis: 49%;
    padding: 1rem 0 1.5rem 0;
    border-bottom: 1px solid #e7e7e7;
  }

  .poll-list__middle-line {
    z-index: -1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-right: 1px solid #e7e7e7;
  }
}
</style>
