<template>
  <div class="button">{{ label }}</div>
</template>

<script>
import { computed } from "vue";

export default {
  name: "Button",
  props: {
    label: {
      type: String,
      required: true,
    },
    backgroundColor: {
      type: String,
      required: true,
    },
    fontColor: {
      type: String,
      required: true,
    },
    loading: {
      type: Boolean,
      required: false,
    },
    disabled: {
      type: Boolean,
      required: false,
    },
  },
  setup(props) {
    const cursor = computed(() => {
      if (props.disabled) return "not-allowed";
      return props.loading ? "wait" : "pointer";
    });

    return { cursor };
  },
};
</script>

<style scoped>
.button {
  color: v-bind(fontColor);
  font-weight: bold;
  background-color: v-bind(backgroundColor);
  padding: 0.2rem;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: v-bind(cursor);
}
</style>
