<template>
  <SinglePieChart
    :config="config"
    :options="options"
    class="pie-chart"
  ></SinglePieChart>
</template>

<script>
import SinglePieChart from "./SinglePieChart.vue";
import { defineComponent } from "vue";

export default defineComponent({
  name: "PieIcon",
  components: { SinglePieChart },
  setup() {
    return {
      config: {
        showRate: false,
        rotateDegree: 130,
      },
      options: [
        { rate: 50, color: "#db631f" },
        { rate: 50, color: "#79aac5" },
      ],
    };
  },
});
</script>

<style scoped>
.pie-chart {
  color: white;
  width: 60px;
  height: 60px;
}

:deep(.line) {
  color: white;
}

:deep(.labels) {
  color: black;
}

:deep(.circle) {
  background-color: white;
}
</style>
