<template>
  <SinglePieChart
    :config="config"
    :options="options"
    class="pie-chart"
  ></SinglePieChart>
</template>

<script>
import SinglePieChart from "./SinglePieChart.vue";
import { computed, defineComponent } from "vue";

export default defineComponent({
  name: "PostSinglePieChart",
  components: { SinglePieChart },
  props: {
    votes: {
      type: Array,
      required: true,
    },
    sectionColors: {
      type: Array,
      required: true,
    },
    circleColor: {
      type: String,
      required: false,
      default: "white",
    },
    fontColor: {
      type: String,
      required: false,
      default: "black",
    },
  },
  setup(props) {
    const totalVotes = computed(() =>
      props.votes.reduce((sum, vote) => (sum += vote), 0)
    );

    const options = computed(() =>
      props.votes.map((vote, i) => {
        return {
          rate: (vote / totalVotes.value) * 100,
          color: props.sectionColors[i],
        };
      })
    );

    const config = {
      showRate: true,
    };

    return { options, config };
  },
});
</script>

<style scoped>
.pie-chart {
  color: white;
  width: 160px;
  height: 160px;
}

:deep(.line) {
  color: white;
}

:deep(.labels) {
  color: v-bind(fontColor);
}

:deep(.circle) {
  background-color: v-bind(circleColor);
}
</style>
