<template>
  <div class="container">
    <div class="body">
      <div class="main-content">
        <div class="section-title">Today's poll</div>
        <div class="title">
          <span class="wording">{{ title }}</span>
          <span class="date">
            {{ publishedDate }}
          </span>
        </div>
        <div class="options">
          <Button
            v-for="({ label, id }, i) in options"
            :key="id"
            :backgroundColor="colors[i]"
            :disabled="disabled"
            :label="label"
            :loading="loading"
            fontColor="white"
            @click="onClickOption(id)"
          ></Button>
        </div>
      </div>
      <div class="pie-chart">
        <PollSinglePieChart
          :sectionColors="colors"
          :votes="votes"
          circleColor="#dbdbdb"
          fontColor="white"
        ></PollSinglePieChart>
      </div>
    </div>
    <div class="footer">
      <div class="vote-summary">
        Total number of votes recorded: {{ totalVotes }}
      </div>
    </div>
  </div>
</template>

<script>
import { transformTimeToDate } from "../utils/date";
import PollSinglePieChart from "../components/PollSinglePieChart";
import { computed, ref } from "vue";
import Button from "../components/Button";
import { sendPoll } from "../api/poll";
import { cloneDeep } from "lodash";

const colors = [
  "#e57434",
  "#143a6c",
  "#859baf",
  "#7f4f35",
  "#d0af8c",
  "#acbcc7",
  "#58a7cf",
];

export default {
  name: "PollOfToday",
  components: { PollSinglePieChart, Button },
  emits: ["update"],
  props: {
    poll: {
      type: Object,
      required: false,
      default: () => ({ answer: { votes: [] } }),
    },
  },
  setup(props, { emit }) {
    const publishedDate = computed(() =>
      transformTimeToDate(props.poll.publishedDate)
    );

    // TODO: there should be vote data in poll object
    const votes = computed(() => props.poll.answer.votes);
    const totalVotes = computed(() => {
      return votes.value.reduce((sum, vote) => (sum += vote), 0);
    });
    const options = computed(
      () =>
        props.poll.answer?.options?.map(({ id, label }) => ({ id, label })) ||
        []
    );
    const title = computed(() => props.poll.title || "");

    const loading = ref(false);
    const disabled = ref(false);

    const getNewPoll = (poll, optionID) => {
      const newPoll = cloneDeep(poll);
      const voteIndex = newPoll.answer.options.findIndex((option) => {
        return option.id === optionID;
      });
      newPoll.answer.votes[voteIndex]++;
      return newPoll;
    };
    const onClickOption = (optionID) => {
      loading.value = true;
      sendPoll(props.poll.id, optionID)
        .then((res) => {
          console.log(res);
          disabled.value = true;
          const newPoll = getNewPoll(props.poll, optionID);
          emit("update", newPoll);
        })
        .catch((err) => {
          console.log(err);
          disabled.value = true;

          // TODO: remove when API is ready
          const newPoll = getNewPoll(props.poll, optionID);
          emit("update", newPoll);
        })
        .finally(() => {
          loading.value = false;
        });
    };

    return {
      title,
      options,
      colors,
      votes,
      totalVotes,
      publishedDate,
      loading,
      disabled,
      onClickOption,
    };
  },
};
</script>

<style scoped>
.container {
  text-align: left;
  display: flex;
  flex-direction: column;
  background-color: #dbdbdb;
}

.body {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0.3rem;
}

.section-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.wording {
  font-family: Merriweather, Merriweather fallback, serif;
}

.date {
  font-weight: bold;
  font-size: 0.6rem;
  color: #416f91;
  margin-left: 0.5rem;
}

.options {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.2rem;
  text-align: center;
  width: fit-content;
  margin-top: 1rem;
}

.options > * {
  padding: 0.2rem;
}

.pie-chart {
  margin-top: 0.5rem;
}

.footer {
  height: 3rem;
  width: 100%;
  position: relative;
}

.vote-summary {
  bottom: 1rem;
  font-size: 0.8rem;
  border-bottom: 1px solid #c9c9c9;
  margin: 0 0.5rem;
  /*padding-bottom: 0.5rem;*/
}

@media screen and (min-width: 640px) {
  .options {
    max-height: 4rem;
  }
}
</style>
