<template>
  <div class="container">
    <div :style="chartStyle" class="chart"></div>
    <div
      v-for="(style, i) in lineStyles"
      :key="i"
      :style="style"
      class="line"
    ></div>

    <div class="circle"></div>
    <div v-if="options.length === 2" class="labels">
      <div>{{ config.showRate ? options[0].rate : "" }}</div>
      <div>
        <slot>%</slot>
      </div>
      <div>{{ config.showRate ? options[1].rate : "" }}</div>
    </div>
    <div v-else class="labels">
      <div></div>
      <div>
        <slot>%</slot>
      </div>
      <div></div>
    </div>
  </div>
</template>

<script>
import { computed, defineComponent } from "vue";
import { transformPercentageToDegree } from "../utils/math";

function useStyle(props) {
  const degreeOfFirstOption = computed(() =>
    props.options.length > 0
      ? transformPercentageToDegree(props.options[0].rate)
      : 0
  );
  const baseLineDegree = computed(() =>
    Math.round((props.config.rotateDegree || 0) + 270)
  );
  const finalRotateDegree = computed(
    () => baseLineDegree.value - degreeOfFirstOption.value * 0.5
  );

  const rates = computed(() => {
    let sum = 0;
    return props.options.map(({ rate }, i, arr) => {
      if (i === arr.length - 1) return 100 - sum;
      else {
        let tmpRate = Math.round(rate);
        sum += tmpRate;
        return tmpRate;
      }
    });
  });

  const lineStyles = computed(() =>
    rates.value
      .reduce(
        (sum, rate, i, arr) => {
          if (i === arr.length - 1) return sum;
          sum.push(sum[i] + transformPercentageToDegree(arr[i]));
          return sum;
        },
        [finalRotateDegree.value]
      )
      .map((degree) => ({ transform: `rotate(${degree}deg)` }))
  );

  const chartStyle = computed(() => ({
    background: rates.value.reduce(
      (sum, rate, i, arr) => {
        let { str, percentage } = sum;
        const color = props.options[i].color;

        percentage += rate;
        if (i === 0) {
          str += `${color} ${percentage}%`;
        } else {
          str += `${color} ${sum.percentage}% ${percentage}%`;
        }

        str += i === arr.length - 1 ? ")" : ",";

        return { str, percentage };
      },
      { str: "conic-gradient(", percentage: 0 }
    ).str,
    transform: `rotate(${finalRotateDegree.value}deg)`,
  }));

  return {
    lineStyles,
    chartStyle,
  };
}

export default defineComponent({
  name: "SinglePieChart",
  props: {
    config: {
      type: Object,
      required: true,
    },
    options: {
      type: Object,
      required: true,
    },
  },
  setup(props) {
    return {
      ...useStyle(props),
    };
  },
});
</script>

<style scoped>
.container {
  position: relative;
  font-weight: bold;
  font-family: Arial;
  font-size: 1rem;
  width: 100%;
  height: 100%;
}

.chart {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.circle {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 40%;
  height: 40%;
  border-radius: 50%;
}

.labels {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.labels > * {
  width: 33.33%;
  text-align: center;
}

.line {
  position: absolute;
  top: 0%;
  bottom: 0%;
  /*width: 50%;*/
  left: 50%;
  height: 50%;
  transform-origin: right bottom;
  border-right: solid 1px;
}
</style>
