<template>
  <div id="nav">
    <router-link to="/">Home</router-link>
    |
    <router-link to="/polls">Poll List</router-link>
  </div>
  <router-view />
</template>

<style lang="scss">
* {
  margin: 0;
  box-sizing: border-box;
}

#app {
  text-align: center;
  color: #2c3e50;
  max-width: 800px;
  margin: 0 auto;
}

#nav {
  padding: 30px;
}

body {
  font-family: Roboto, Roboto fallback, sans-serif;
}
</style>
